body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label-card {
    width: 250px;
    height: 150px;
    background: rgb(20, 116, 233);
    border-radius: 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 3px;
}

/* #columns {
    width: 500px;
    display: flexbox;
} */